<!-- ======= About Section ======= -->
<section id="about" class="about features">
    <div class="container" data-aos="fade-up">

        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2 content" data-aos="fade-left" data-aos-delay="100">
                <h3 class="d-block d-md-none d-lg-none">About Us</h3>
                <img src="assets/img/about.jpg" class="img-fluid" alt="About Us">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                <h3 class="d-none d-md-block">About Us</h3>
                <p>With over <span class="yrPassed"></span> years of software development experience and <span
                        class="yrPassedT"></span> years of trading experience we came
                    together from various background with one mission to continuously add value to our customers and
                    partners. We bring this experience, scale and expertise to the table and stand apart from the
                    competition by going above and beyond high quality products. We offer expert assistance, valuable
                    services, decades of experience, and a host of resources to ensure we're providing the best possible
                    solution for the needs of our customers and partners.</p>
                <br />
                <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                    <i class="bx bx-receipt"></i>
                    <h4>Mission</h4>
                    <p>We aim to continuously add value to our customers and partners.</p>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Commitment</h4>
                    <p>We scour the world to find high quality material at affordable prices so that our customers don’t
                        have to.</p>
                </div>
                <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                    <i class="bx bx-images"></i>
                    <h4>Engagement</h4>
                    <p>We build innovative software solutions to tackle pressing problems in international trade and
                        logistics.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->