<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact</h2>
            <p>Contact Us</p>
        </div>

        <div>
            <!-- <iframe class="contact-map"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.3868533014947!2d144.9544513153185!3d-37.80440677975401!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d33c2519bbf%3A0x6e136e5dd56fc39d!2s121%2F152%20Peel%20St%2C%20North%20Melbourne%20VIC%203051%2C%20Australia!5e0!3m2!1sen!2sbd!4v1594189975462!5m2!1sen!2sbd"
                allowfullscreen></iframe> -->
            <div class="contact-map d-none d-md-block">
                <img src="../assets/img/desktop-map.jpg" class="img-fluid" alt="Desktop-map">
            </div>
            <div class="contact-map d-block d-md-none d-lg-none">
                <img src="../assets/img/mobile-map.jpg" class="img-fluid" alt="Desktop-map">
            </div>
        </div>

        <div class="row mt-5">

            <div class="col-lg-12">
                <div class="info">
                    <div class="address">
                        <i class="icofont-google-map"></i>
                        <h4>Location:</h4>
                        <p>Suite 121, 152 Peel Street, North Melbourne VIC 3051</p>
                    </div>

                    <div class="email">
                        <i class="icofont-envelope"></i>
                        <h4>Email:</h4>
                        <p><a class="u-email" href="mailto:info@gskglobal.com.au">info@gskglobal.com.au</a></p>
                    </div>

                    <!-- <div class="phone">
                         <i class="icofont-phone"></i>
                        <h4>Phone</h4>
                        <p><strong>ABN:</strong> 62 639 906 120</p>
                    </div> -->

                </div>

            </div>

            <!-- <div class="col-lg-8 mt-5 mt-lg-0"> </div>  -->

        </div>

    </div>
</section><!-- End Contact Section -->