<section id="trackify" class="services">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2><a href="/#services">Back to software</a></h2>
            <p><span class="icon-details"><i class="bx bx-search-alt-2"></i></span> Trackify</p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                  <p>Trackify is an innovative product to track anything on your mobile, desktop or as an embedded component in your application. You can create a plan using our beautiful mobile app or give us an excel file to ingest. Track your plans on the go on your mobile device or integrate tracking into your apps through the use of intuitive javascript components or APIs. Track your plans on our beautiful visualization or export your tracking data into one of the leading reporting products in the market.</p>
            </div>
        </div>

    </div>
</section>

<section id="tradeIn" class="services">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2><a href="/#services">Back to software</a></h2>
            <p><span class="icon-details"><i class="icofont-handshake-deal"></i></span> TradeIn</p>
        </div>
        <div class="row">
            <div class="col-lg-12">
               <p>TradeIn is built for Traders by Traders. We understand the complexities in the flow of information in international trade. We have built our software to optimize information flow, simplify document sharing and provide integration APIs & adapters. You can focus on managing and growing your business while using TradeIn to build streamlines processes and make quick decisions.</p>
            </div>
        </div>
    </div>
</section>

<section id="container-number-recognition" class="services">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2><a href="/#services">Back to software</a></h2>
            <p><span class="icon-details"><i class="icofont-calculations"></i></span> Container Number Recognition</p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>Our software can recognize a container number from a photo taken on any mobile device under most weather conditions. Easy to use APIs and integrations help integrate this into the rest of your enterprise operations.</p>
            </div>
        </div>
    </div>
</section>
