<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>GSK Global</h3>
                        <p>Suite 121, 152 Peel Street,<br>
                            North Melbourne VIC 3051<br><br>
                            GSK Global Pty Ltd<br>
                            <strong>ABN:</strong> 62 639 906 120<br>
                            <strong>Email:</strong> <a href="mailto:info@gskglobal.com.au">info@gskglobal.com.au</a><br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#about" class="scrollto">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#contact" class="scrollto">Contact</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#services" class="scrollto">Software</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/#portfolio" class="scrollto">Trading</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-newsletter footer-links">
                    <h4>About Us</h4>
                    <p>We aim to continuously add value to our customers and partners.</p>

                    <h4>Our Companies</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Top Rank</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#"
                                target="_blank">Top Polymers</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#"
                                target="_blank">Simplexhub</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/">GSK Global</a></li>
                    </ul>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>GSK Global Pty Ltd</span></strong> All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/gp-free-multipurpose-html-bootstrap-template/ -->
            Developed by <a href="http://www.simplexhub.com/" target="_blank">Simplexhub</a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top"><i class="icofont-arrow-up"></i></a>
<div id="preloader"></div>
