<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Trading</h2>
            <p>Trading</p>
            <p class="sub-title-desc">Currently we source our material from South East Asia, Nordic Countries, South
                Asia and Asia Pacific.</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/paints_.jpg" class="img-fluid" alt="Paints">
                    <div class="portfolio-info">
                        <h4>Paints</h4>
                        <p>01</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/Pharmaceutical_ingredients_.jpg" class="img-fluid"
                        alt="Pharmaceutical">
                    <div class="portfolio-info">
                        <h4>Pharmaceutical Ingredients</h4>
                        <p>02</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/polymers_.jpg" class="img-fluid" alt="Polymers">
                    <div class="portfolio-info">
                        <h4>Polymer</h4>
                        <p>03</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/pulp_.jpg" class="img-fluid" alt="Pulp">
                    <div class="portfolio-info">
                        <h4>Pulp</h4>
                        <p>04</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/Scrap_Metal_.jpg" class="img-fluid" alt="Scrap Metal">
                    <div class="portfolio-info">
                        <h4>Scrap Metal</h4>
                        <p>05</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Section -->

<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">

        <div class="text-center">
            <h3>Call To Action</h3>
            <p>Interested to know more about our powerful suite of software? <br /> Have any queries with your shipment
                schedule?</p>
            <a class="cta-btn scrollto" href="#contact">Contact us</a>
        </div>

    </div>
</section><!-- End Cta Section -->