<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Software</h2>
            <p>Software</p>
            <p class="sub-title-desc">We are serious about creating amazing products so our customers can thrive</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-search-alt-2"></i></div>
                    <h4><a href="/details/#trackify">Trackify</a></h4>
                    <p>Trackify is an innovative product to track anything on your mobile, desktop or other devices ...</p>
                    <a href="/details/#trackify" class="read-btn">Read More</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                data-aos-delay="200">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-handshake-deal"></i></div>
                    <h4><a href="/details/#tradeIn">TradeIn</a></h4>
                    <p>TradeIn is built for Traders by Traders. We understand the complexities in the flow of information ...</p>
                    <a href="/details/#tradeIn" class="read-btn">Read More</a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                data-aos-delay="300">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-calculations"></i></div>
                    <h4><a href="/details/#container-number-recognition">Container Number</a></h4>
                    <p>Our software can recognize a container number from a photo taken on any mobile device ...</p>
                    <a href="/details/#container-number-recognition" class="read-btn">Read More</a>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Services Section -->
